body,
html {
    width: 100%;
    margin: 0;
}

.barra img {
    width: 36px;
    float: left;
    margin: 10px 0 0 10px;
}

@media (min-width: 768px) {
    .barra img {
        margin: 0.7em 2em;
    }

    .nav {
        margin: 0.7em 3em;
    }

}

.nav {
    text-align: right;
    height: 70px;
    line-height: 70px;
}

.menu nav {
    margin: 0 20px 0 0;
}

.menu a {
    clear: right;
    text-decoration: none;
    color: #272e4f;
    font-family: 'IBM Plex Mono', monospace;
    text-transform: uppercase;
    margin: 0 10px;
    line-height: 70px;
}

.menu a:hover {

    color: #ff5e3a;
    text-decoration:line-through;
}


label {
    margin: 0 30px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}

#toggle {
    display: none;
}

@media only screen and (max-width:500px) {
    label {
        display: block;
        cursor: pointer;
    }

    .menu {
        text-align: center;
        width: 100%;
        display: none;
        position: relative;
        margin-top: 20px;
        float: right;

    }

    .menu a {
        display: block;
        border-bottom: 1px solid #eaeaeb;
        margin: 0;
        background-color: white;

    }

    .menu a:hover {

        color: #ff5e3a;
        text-decoration:line-through;
        cursor: pointer;
    }

    #toggle:checked+.menu {
        display: flex;
        flex-direction: column;



    }

}


.contenedor h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #272e4f;
    font-size: 36px;
    font-weight: 400;
    margin: 2rem 1rem;
    width: 240px;
}

.contenedor span {
    text-decoration: line-through;
}

.contenedor p {
    font-family: 'IBM Plex Mono', monospace;
    color: #272e4f;
    font-size: 14px;
    margin: 2rem 1rem;

}


.boton  {
    text-transform: uppercase;
    margin: 2rem 1rem;
    text-align: center;
    font-size: 16px;
    font-family: 'IBM Plex Mono', monospace;
    background-color: #ff5e3a;
    padding: 20px;
    font-weight: 400;

}

.boton:hover h2 {

    background: rgb(128, 193, 111);
    background: linear-gradient(90deg, rgba(128, 193, 111, 1) 0%, rgba(111, 193, 165, 1) 100%);
    color: white;
    cursor: pointer;

}

@media (min-width: 768px) {
    .contenedor h1 {
        width: 600px;
        margin: 3em 0 0 3em;
    }

    .contenedor p {
        width: 600px;
        margin: 1em 8em;
    }

    .boton {
        width: 226px;
        margin: 0 7em;
        height: auto;

    }
}


.contenedor-canales h1 {
    margin: 6rem 0 1rem 1rem;
    font-size: 36px;
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    text-align: left;

}


.contenedor-canales {

    display: inline-block;
    background-image: linear-gradient(90deg, #272e4f, #2c365d);
    clip-path: polygon(100% 0, 100% 94%, 0 100%, 0 5%);
    height: 1300px;
    width: 100%;
    text-align: center;


}

.contenedor-canales iframe {
    width: 90%;
    padding: 0.2em 0;
    height: 232px;
    border-style: none;

}


@media (min-width: 768px) {
    .contenedor-canales h1 {
        text-align: left;
        margin-left: 4em;
    }

    .contenedor-canales {
        text-align: center;
        height: 900px;
    }

    .contenedor-canales iframe {
        width: 40%;
        margin: 1em;
        height: 232px;
        border-style: none;
    }

}

.imagen-telefono {
    height: 100%;
    margin-bottom: -150px;
}

.imagen-telefono img {
    position: relative;
    width: 100%;
    transform: translateY(-140px);

}

@media (min-width: 768px) {
    .imagen-telefono img {
        transform: translateY(-80px);
        max-width: 600px;
    }
}


.contenedor-nosotros {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;

}

.contenedor-nosotros h2 {
    font-size: 36px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #272e4f;
    font-weight: 400;
    width: 200px;
    margin: 20px 10px;
}

.contenedor-nosotros p {

    line-height: 26px;
    color: #272e4f;
    text-align: left;
    margin: 0 10px;
    width: 100%;
    height: 5%;
    font-family: 'IBM Plex Mono', monospace;
}

@media (min-width: 768px) {
    .contenedor-nosotros {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .contenedor-nosotros p {
        margin-top: 1em;
        margin-left: 2em;
        width: 300px;
        text-align: left;
        font-size: 16px;
    }

    .contenedor-nosotros h2 {
        max-width: 300px;
        margin-top: 0.5em;
        margin-left: 1em;
    }

    .imagen-telefono img {
        max-width: 400px;
        height: auto;

    }

    .imagen-telefono {
        text-align: center;
    }
}

@media (min-width: 1024px) {
    .contenedor-nosotros h2 {
        width: 800px;
        margin-left: 0.4em;
    }

    .contenedor-nosotros p {
        width: 450px;
        margin-left: 1em;
    }

}

@media (min-width: 1440px) {
    .contenedor-nosotros h2 {
        width: 800px;
        margin-top: 2em;
        margin-left: 0;
    }

    .contenedor-nosotros p {
        width: 450px;
        margin-left: 0;
    }
}


.contenedor-invitados {
    display: flex;
    flex-direction: column;
}

.contenedor-invitados img {
    width: 100%;
}

.contenedor-invitados h2 {
    margin: 30px 2rem;
    color: #272e4f;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 40px;
    width: 288px;
    font-weight: 400;

}

@media (min-width: 768px) {
    .contenedor-invitados {
        display: inline-block;
        margin: 0;
        font-size: 0;
    }

    .contenedor-invitados img {
        width: 50%;
    }

    .contenedor-invitados h2 {
        margin: 2em 0 1em 4em;
        width: 400px;
    }
}

@media (min-width: 1440px) {
    .contenedor-invitados img {
        width: 33.3%;
        margin: 0;
        font-size: 0;
    }
}

.contenedor-temas {
    display: flex;
    flex-direction: column;
}

.contenedor-temas h2 {
    margin: 30px 30px;
    color: #272e4f;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 40px;
    width: 288px;

    font-weight: 400;
}

.contenedor-iconos {
    text-align: center;
    margin: 0;
}

.iconos {
    margin: auto;
    align-self: center;
    
}

.iconos h3 {
    font-size: 25px;
    color: #272e4f;
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
    width: 200px;
    font-weight: 700;
}


@media (min-width: 768px) {
    .contenedor-temas {
        display: block;
    }

    .contenedor-temas h2 {
        width: 400px;
        margin: 1em 0 1em 4em;
        font-size: 48px;
    }

    .contenedor-iconos {
        display: inline-block;
        margin: auto 2.5em;
    }

    .iconos {
        text-align: center;
        width: 80%;
    }
}

@media (min-width: 1024px) {
    .iconos {
        display: flex;
        justify-content: center;
    }

    .contenedor-iconos {
        display: inline-block;
        margin: auto 1.6em;
    }
}

@media (min-width: 1440px) {
    .contenedor-iconos {
        margin: auto 3em;
    }
}


.contenedor-novedades {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(90deg, #272e4f, #2c365d);
    width: 100%;
    height: 600px;
    clip-path: polygon(0 25%, 100% 13%, 100% 100%, 100% 100%, 0 100%);
}

.contenedor-novedades h2 {
    position: relative;
    text-align: center;
    margin: 80px auto;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 40px;
    width: 90%;
    font-weight: 300;
    line-height: 50px;
    padding-top: 200px;
    color: #f2f2f0;
    max-width: 800px;
}

button {

    text-transform: uppercase;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 20px;
    color: #f2f2f0;
    border: none;
    background-color: #ff5e3a;
    width: 90%;
    margin: auto;
    padding: 15px;
    font-weight: 400;
    text-align: center;
    transform: translateY(-80px);

}

button a {
    text-decoration: none;
    color: white;
}

button:hover {
    background: rgb(128, 193, 111);
    background: linear-gradient(90deg, rgba(128, 193, 111, 1) 0%, rgba(111, 193, 165, 1) 100%);
    cursor: pointer;
}

@media (min-width: 768px) {
    button {
        width: 345px;
        font-size: 18px;
    }

}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer i {
    margin: 0 1rem 1rem 1rem;
    font-size: 20px;
    
}

footer a {
    text-decoration: none;
    color: black;
}

footer h5 {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    font-size: 14px;
}



@media (min-width: 768px) {
    footer {
        flex-direction: row;
        justify-content: space-between;
        margin: 0 4em;
    }

    footer i {
        margin: auto 1em;
    }

    footer h5 {
        font-size: 16px;
    }
}